<ion-tabs>

  <ion-tab-bar slot="bottom" style="--background: rgb(189, 22, 22);">
    <ion-tab-button tab="tab1" style="color: white;">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="color: white;">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>College</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="color: white;">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
