.text{
    font-family: 'Ubuntu Condensed', sans-serif; 
    font-weight: 600;
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.text1{
    font-family: 'Ubuntu Condensed', sans-serif; 
    font-weight: 400;
    font-size: 8px;
    color: rgb(131, 131, 131);
    text-align: center;
}
agm-map {
    height: 300px;
  }